/* block styles */

.block-basic {
  margin-top: 150px;
  margin-bottom: 150px;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.block-solid {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #FFFFFF;
}

.block-rounded {
  margin: 40px;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  color: #FFFFFF;
  width: 100px;
  height: 100px;
}

.block-solid-text {
  margin: 80px;
  margin-left: 40px;
}

.block-title {
  font-family: 'Indie Flower', cursive;
  margin-bottom: 20px;
}

.logo-circle {
  border-radius: 50%;
  border: solid;
  height: 200px;
  border-color: black;
  margin: 30px;
}

.check-out {
  margin-top: 40px;
  margin-bottom: 60px;
}

.text-center {
  display: flex;
  align-items: center;
  margin: 0px;
}


.btn-circle {
  border-radius: 50%;
  margin: 30px;
  color: #FFFFFF;
  font-size: 80px;
}

.pop {
  box-shadow: 0px 0px 3px 1px Lavender;
}

.btn-menu {
  color:  #FFFFFF;
  background-color: #F67280;
}

.header {
  padding: 50px;
  background-color: #355C7D;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Coda Caption', sans-serif;
}

.icon-md {
  height: 50px;
  width: 50px;
  font-size: 34px;
  float: left;
  margin-right: 10px;
  text-align: center;
}

.icon-text {
  text-align: left;
  vertical-align: top;
  margin-left: 60px;
  margin-bottom: 30px;
  font-family: 'Indie Flower', cursive;
}

img {
  height: 80%;
  width: 100%;
}

#skydive-img{
  background-image: url("../css/img/dive.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#transip-logo{
  background-image: url("../css/img/transip.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 80%;
}


.bg-tech {
  background-image: url("../css/img/bg-clogs.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

li {
  padding-left: 30px;
  text-align: left;
}

.menu {
  padding: 20px;
  margin-top: -40px;
  margin-bottom: 30px;
}

.education {
  color: black;
  size: 100% 100%;
}

.dotted-border {
  border-color: inherit;
  border-style: dotted;
  border-width: thick;
  border-radius: 20px;
  padding: 20px;
}

.rounded-left {
  color:inherit;
  border-bottom-left-radius: : 20px;
  border-top-left-radius: 20px
}

.rounded-right {
  color:inherit;
  border-bottom-right-radius: : 20px;
  border-top-right-radius: 20px
}

.double-border {
  border-color: inherit;
  border-style: double;
  border-width: medium;
  border-radius: 20px;
  padding: 20px;
}

.rounded-border {
  border-style: solid;
  color:inherit;
  border-radius: 20px;
  padding: 50px;
}

.view-more{
  text-align: left;
  vertical-align: middle;
}
.dotted-block {
  color:  #F8B195;
  border-color: #F8B195;
  border-style: dashed;
  border-radius: 20px;
  width: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fnt-white {
  color: #ffffff;
}

.dotted-block-text {
  color: #000000;
  font-family: 'Source Code Pro', monospace !important;
  font-size: 18px !important;
  font-weight: bold !important;
  vertical-align: bottom;
  margin-top: 16px;
}

#timeline {
  width: 100%;
  height: 100%;
  margin-top: -100px;
  margin-bottom: -50px;
}

.dotted-block-text-indent {
  padding-left: 30px;
}

.page-title {
  color: #6C5B7B;
  margin-bottom: 40px;
}

.mr {
  margin-right: 50px;
  margin-left: 50px;
}

#like {
  margin-top: 250px;
  margin-bottom: 150px;
}

.pl-xl {
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  padding-left: 36px;
}

li {
  padding-bottom: 3px;
  padding-top: 3px;
}

.btn-txt{
  margin-top: -18px;
  text-align: center;
}

.blue {
  background-color: #355C7D;
}

.outline-white {
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
  color: #ffffff;
}

.outline-white:hover {
  color: #F67280;
  background-color: #ffffff;
}

.outline-pink {
  background-color: transparent;
  background-image: none;
  border-color: #F67280;
  color: #F67280;
}

.outline-pink:hover {
  color: #ffffff;
  background-color: #F67280;
}

a {
  color: inherit;
}

.btn-black {
  color: black;
}

.faded-indigo {
  background-color: #7a6b88;
  border-color: #6C5B7B;
}

.btn-black:hover {
  color: #6C5B7B;
}

.border-pink {
  border-radius: 20px;
  border-color: #F67280;
  border-style: double;
  border-width: medium;
  padding: 20px;
}

#awards {
  padding-top: 100px;
  padding-bottom: 150px;
}
.blue-outline {
  color: #355C7D;
  border-color: #355C7D;
  border-radius: 50%;
  border-style: ;
  border-top-width: thick;
  border-left-width: thick;
  border-bottom-width: thin;
  text-align: center;
}

.education {
  margin-top: 100px;
}

.blue-outline p {
  color: black;
}

.fnt-blue, .btn-horange:hover {
  color: #355C7D;
}

.border-blue {
  border-color: #355C7D;
}

.btn-circle:hover {
  color: #FFFFFF;
  background-color: #F67280;
}

.pink {
  background-color: #F67280;
}

.fnt-pink, .btn-hpink:hover {
  color: #F67280;
}

.purple, .btn-menu:hover {
  background-color: #C06C84;
}

.indigo, .btn-menu:active {
  background-color: #6C5B7B;
}

.fnt-indigo {
  color: #6C5B7B;
}

.orange {
  background-color: #F8B195;
}

.fnt-black {
  background-color: inherit;
  color: black;
}

.orange-faded {
  border-color:  #F8B195;
  background-color: #fbd4c5;
}

.fnt-orange, {
  background-color: inherit;
  color: #F8B195;
}
